/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  text-align:center;
  background-color:#82A52B;
}
h1, hr, h2,.title, .signuplink {
  color: #FFFDAD;
  text-decoration:none;
  font-family: 'Averia Gruesa Libre', cursive;
  font-size:20px;
}
p {
  font-family: 'Averia Gruesa Libre', cursive;
  color:#000;
  font-size:20px;
}
h1 {
  font-size:65px;
}
hr {
  width:60%;
}
img {
  max-width: 600px;
}
.create {
  display:flex;
  justify-content:center;
  margin:-25px;
}
.showtitle {
  color:#FFFDAD;
  font-size:30px;
  text-decoration: underline;
}
.showinfo, .instrument {
  color:#FFFDAD;
  font-size:20px;
}

.homebutton {
  color:#B23C2E;
  font-family: 'Averia Gruesa Libre', cursive;
}
.homecontainer, .bottomhr {
  margin-bottom:30px;
}
.alert, .notice, .button {
  font-size:40px;
  color:#B23C2E;
}
.createjam {
  color:#FFFDAD;
  font-family: 'Averia Gruesa Libre', cursive;
  font-size:40px;
}
.commentstitle {
  color:#FFFDAD;
  font-family: 'Averia Gruesa Libre', cursive;
  text-decoration: underline;
}
.commentinfo {
  font-size: 14px;
  font-style: italic;
  color:#000;
}
.shorthr {
  width:30%;
}
.commentbody {
  font-family: serif;
}
.bandbox {
  display:flex;
  justify-content: center;
}
.bandtitle {
  text-decoration: underline;
}
.instrument {
  color:#B23C2E;
  font-family: 'Averia Gruesa Libre', cursive;
}
label.select.optional {
  color:#FFFDAD;
  font-size:20px;
  font-family: 'Averia Gruesa Libre', cursive;
}
